
/*------------------------------------- Loading*/
.loadingFlex {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: white;
  z-index: 1500;
}

.loader {
  width: 3vh;
  height: 3vh;
  border: solid black 10px;
  border-bottom: solid transparent 10px;
  border-radius: 50%;
  animation: loader 3s linear infinite;
}

.center {
  align-self: center;
}

@keyframes loader{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}